@using MAF_Event_Center.SPA.Services;

@inherits LayoutComponentBase

@inject IAuthService AuthService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();
    }
}