@using System.Security.Claims;
@using MAF_Event_Center.SPA.Services;

@inherits LayoutComponentBase

@inject IUserService UserService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MAF_Event_Center.SPA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div @onclick="ToggleNavMenu">
    <CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-plus" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/event/create" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Create event
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>
                <div></div>
            </nav>
        </Authorized>
        <NotAuthorized>
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-plus" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="create/event" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Create event
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> SignIn
                    </NavLink>
                </div>
            </nav>
        </NotAuthorized>
    </AuthorizeView>
    </CascadingAuthenticationState>
</div>

@code {
    private List<(string, string)> links = new List<(string, string)>();

    protected override async Task OnInitializedAsync()
    {

        var userRole = await UserService.GetUserRole();
        if(userRole.Role == "NotFound")
        {
            links.Add(("/login", "SignIn"));
        }
        if (userRole.Role != "NotFound")
        {
            links.Remove(("/login", "SignIn"));
            links.Add(("/user/profile", "Profile"));
        }
        if (userRole.Role == "Admin")
        {
            links.Add(("/users", "Users"));
        }
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
