@page "/"
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h2>@userName</h2>

Welcome to your new app.

<button type="button" class="btn btn-primary btn-pills waves-effect waves-themed">Primary</button>
<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    string userName = "";
    protected async override Task OnInitializedAsync()
    {
        try
        {
            var auth = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();

            var user = auth.User;
            userName = user.Identity.Name;
        }
        catch
        {
            
        }
    }
}